*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #f4f9ff;
    border-radius: 0px;
}
.main{
    display: grid;
    grid-template-columns: 10% 90%;

}
.side{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 100vh;
    overflow: hidden;
}
.firstimg{
    width: 60px;
    
}
.side-top{
    /* height: 100vh; */
    width: 100%;
    /* display: flex;  */
    /* flex-direction: column; */
    /* justify-content: space-around; */
} 

.side-middle{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.side-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around; */

}
header{
    height: 60px;
    position: absolute;
    top: 0px;
    align-items: center;
    left: 150px;
    display: flex;
}
.nav{
    display: 0px;
    
}
.nav-top{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-style: normal;
}

.search{
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    border: 2px solid #29b6e9;
    background-color: #fff;
    align-items: center;
    padding: 10px;
}
.search input{
    border: 0;
    outline: 0;

}

.nav-top button{
    padding: 10px;
    background-color: rgb(47, 65, 232);
    border-radius: 8px;
    color: white;
    border: 0;
    font-size: 20px;
    outline: 0;

}
.down{
    display: block;
}

.cards{
    display: grid;
    height: 150px;
    width: 100%;
    margin-top: 25px;
    margin-left: 0px;
    grid-template-columns:repeat(4,2fr);
    grid-template-rows: repeat(4,2fr);
    display: grid;
    grid-column-gap:20px;
    grid-row-gap: 20px;
   
}


.box1{
    display: grid;
    height: 140px;
    width: 300px;
    background-color: #FFFFFF ;
    border-radius: 20px;
    border-color: rgba(85, 157, 202, 0.879);
    font-style: normal;
    
    /* display: none; */
    box-shadow: 0 0 10px 2px rgb(179, 221, 235);
}
.box1 .para{
    font-family: 'Montserrat';
    /* font-style: normal; */
    margin: 15px 15px;
    font-weight: 500;
    font-size: 15px;
    /* line-height: 22px; */
    width: 100%;
    margin-left: 2px;
    overflow: hidden;
    
}
.box1 .btn{
    font-family: 'Montserrat';
    margin-top: 100px;
    padding: 0px 5px;
    margin: 0 15px;
    margin-left: 150px;
    background-color:#2B78D4;
    border: 0px;
    color: white;
    border-radius: 8px;
}
.box1:hover{
    background-color: #FFFFFF;
    border-style: solid;
    border-color: 0px 2px 6px #c3e7f4;
    border-top-width: 2px;
}
/* .box1 img{
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    width: 50px;

}
.myname{
    margin-left: 25px;
    margin-top: 15px;
    font-size: 15px;
}
.myname .p1{
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    color:  #002F68;



}
.myname .p2{
    
    font-size: 16px;
    font-weight: 100;
    margin-top: 7px;
    color: #5C83B1;

}
.myname .p3{
    
    font-size: 18px;
    margin-top: 10px;
    font-style: normal;
    color: #5C83B1;
} */

.box2{

    display: inline-flex;
    height: 140px;
    width: 300px;
    background-color: #FFFFFF ;
    border-radius: 20px;
    border-color: rgba(85, 157, 202, 0.879);
    font-style: normal;
    box-shadow: 0 0 10px 2px rgb(179, 221, 235);
    
}

.box2 img{
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    width: 50px;
}
.myname{
    /* margin-left: 25px; */
    margin-top: 15px;
    font-size: 15px;
    margin: 0px;
    border: 0px;

}
.myname .p1{
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    color: #002F68;
    line-height: 27px;
    margin-right: 50px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
}

.myname .p2{
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    color: #5C83B1;
    margin-right: 30px ;
    margin-left: 5px;
    
    
}
.myname .p3{
    font-size: 15px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    color: #5C83B1;
    margin-right: 50px;
    margin-left: 5px;
    width: 100px;
    display: inline;
    font-family: 'Montserrat';
}
